@import "variables";

nav {
  height: 10vh;
  width: 100%;
  background-color: rgb(78, 126, 128);
  color: #ffffff;
  padding: 0.5em 1.5em 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  position: fixed;
  font-size: smaller;

  .btn {
    margin-left: 1rem;
    background-color: transparent;
    padding: 4px 8px 2px;
    border-radius: 8px;
  }

  .btn:last-child {
    margin-left: auto;
  }

  .btn:hover {
    background-color: white;
    color: black;
  }

  .logo {
    font-family: $body-font;
    font-size: 2rem;
    margin-right: 1rem;
  }

  .logo:hover {
    cursor: pointer;
  }

  // .new-resource-nav {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 0.25em;
  //   padding-bottom: 0.1em;
  //   align-items: center;
  // }

  // .new-resource-nav:hover {
  //   cursor: pointer;
  // }

  // .new-resource-icon {
  //   background-color: transparent;
  //   border: none;
  //   color: red;
  //   animation-name: bounce;
  //   animation-duration: 1s;
  //   animation-direction: alternate;
  //   animation-timing-function: ease-in-out;
  //   animation-iteration-count: infinite;
  // }

  // @keyframes bounce {
  //   0% {transform: translateY(0); color: red}
  //   50% {transform: translateY(-0.5em); color: orangered}
  //   100% {transform: translateY(0); color: darkorange}
  // }
}
