@import "variables";

article.resource {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.7em;
  margin: 0;
  width: 80%;
  margin-left: 10%;
  border-style: solid;

  header {
    display: flex;
    align-items: baseline;

    .title {
      font-weight: 700;
    }

    .handle {
      font-size: 1.2rem;
      color: #babace;
      margin-left: auto;
    }

    .delete-resource {
      color: red;
      margin-left: 1rem;
    }

    .delete-resource:hover {
      color: maroon;
      cursor: pointer;
    }
  }

  .resource-content {
    // border-bottom: 5px solid $body-color;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  .resource-content-text {
    word-wrap: break-word;
    text-align: left;
    font-size: 1.2rem;
    margin-right: 0.5em;
  }

  .resource-url {
    text-align: start;
    margin-right: auto;
    font-size: 1rem;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 60%;

    .icons {
      display: flex;
      padding-right: 1em;
      cursor: pointer;

      button {
        border: none;
        padding-right: 1em;
        background-color: transparent;
        align-self: flex-end;
      }

      button.highlighted {
        color: red;
      }

      span {
        width: 2em;
      }

      .fa-heart:hover {
        color: palevioletred;
      }

      .fa-comment:hover {
        color: blue;
      }

      .fa-star {
        display: none;
        color: goldenrod;
        margin-left: 0.2rem;
      }
    }

    .days-ago {
      margin-top: auto;
    }
  }
}

article.resource:hover {
  box-shadow: 5px 5px #c8c8e1;
}

.rate > div {
  display: flex;
}

.rate p {
  margin: 0;
  font-weight: 700;
  text-align: center;
}

article.resource + article.resource {
  margin-top: 1em;
}

.comments-section {
  display: none;
}

.comment-container {
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;

  p {
    margin: 0;
    font-size: 1.2rem;
  }

  .user-info {
    display: flex;
    align-items: center;

    p {
      margin-left: 0.5rem;
    }

    i {
      color: red;
      margin-left: auto;
      margin-right: 0.5rem;
    }

    i:hover {
      color: maroon;
      cursor: pointer;
    }
  }

  img {
    width: 2.5rem;
  }

  .comment-content {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;

    p:first-child {
      font-size: 1rem;
      max-width: 80%;
    }

    p:last-child {
      font-size: 0.8rem;
      align-self: flex-end;
    }
  }
}

// if problems arise - delete below
.comments-section form {
  display: flex;
  align-items: baseline;

  input {
    flex-grow: 1;
    margin: 0 1rem 1rem 0;
  }
}

.rate p {
  margin: 0;
  font-weight: 700;
  text-align: center;
}
